.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px; /* Ensure there's space for the top bar */
  height: 100vh;
  background-image: url('../../assets/dashBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-content {
  display: flex;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  position: relative; /* Ensure the icon can be positioned relative to the box */
}

.login-title {
  margin-bottom: 20px;
}

.login-form .login-input {
  margin-bottom: 20px;
}

.login-button {
  margin-top: 10px;
}

.signup-link {
  display: block;
  margin-top: 20px;
  font-weight: bold; /* Make the text bold */
  color: #2a00b3; /* Light blue color */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Pointer cursor on hover */
}

.signup-link:hover {
  color: rgb(112, 10, 10); /* Slightly darker blue on hover */
}
.forgot-password-link {
  display: block;
  margin-top: 10px;
  color: #2a00b3;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: rgb(112, 10, 10);
}